:root,[data-bs-theme="light"] {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #767676;
    --bs-gray-dark: #434343;
    --bs-gray-100: #c2c2c2;
    --bs-gray-200: #b5b5b5;
    --bs-gray-300: #a9a9a9;
    --bs-gray-400: #9c9c9c;
    --bs-gray-500: #8f8f8f;
    --bs-gray-600: #767676;
    --bs-gray-700: #5c5c5c;
    --bs-gray-800: #434343;
    --bs-gray-900: #292929;
    --bs-primary: #54B689;
    --bs-secondary: #4f4f4f;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #c2c2c2;
    --bs-dark: #292929;
    --bs-primary-rgb: 84,182,137;
    --bs-secondary-rgb: 79.25,79.25,79.25;
    --bs-success-rgb: 25,135,84;
    --bs-info-rgb: 13,202,240;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 220,53,69;
    --bs-light-rgb: 194,194,194;
    --bs-dark-rgb: 41,41,41;
    --bs-primary-text-emphasis: #224937;
    --bs-secondary-text-emphasis: #202020;
    --bs-success-text-emphasis: #0a3622;
    --bs-info-text-emphasis: #055160;
    --bs-warning-text-emphasis: #664d03;
    --bs-danger-text-emphasis: #58151c;
    --bs-light-text-emphasis: #5c5c5c;
    --bs-dark-text-emphasis: #5c5c5c;
    --bs-primary-bg-subtle: #ddf0e7;
    --bs-secondary-bg-subtle: #dcdcdc;
    --bs-success-bg-subtle: #d1e7dd;
    --bs-info-bg-subtle: #cff4fc;
    --bs-warning-bg-subtle: #fff3cd;
    --bs-danger-bg-subtle: #f8d7da;
    --bs-light-bg-subtle: #e1e1e1;
    --bs-dark-bg-subtle: #9c9c9c;
    --bs-primary-border-subtle: #bbe2d0;
    --bs-secondary-border-subtle: #b9b9b9;
    --bs-success-border-subtle: #a3cfbb;
    --bs-info-border-subtle: #9eeaf9;
    --bs-warning-border-subtle: #ffe69c;
    --bs-danger-border-subtle: #f1aeb5;
    --bs-light-border-subtle: #b5b5b5;
    --bs-dark-border-subtle: #8f8f8f;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255,255,255,0.15), rgba(255,255,255,0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #292929;
    --bs-body-color-rgb: 41,41,41;
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255,255,255;
    --bs-emphasis-color: #000;
    --bs-emphasis-color-rgb: 0,0,0;
    --bs-secondary-color: rgba(41,41,41,0.75);
    --bs-secondary-color-rgb: 41,41,41;
    --bs-secondary-bg: #b5b5b5;
    --bs-secondary-bg-rgb: 181.25,181.25,181.25;
    --bs-tertiary-color: rgba(41,41,41,0.5);
    --bs-tertiary-color-rgb: 41,41,41;
    --bs-tertiary-bg: #c2c2c2;
    --bs-tertiary-bg-rgb: 194,194,194;
    --bs-heading-color: inherit;
    --bs-link-color: #54B689;
    --bs-link-color-rgb: 84,182,137;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #43926e;
    --bs-link-hover-color-rgb: 67,146,110;
    --bs-code-color: #d63384;
    --bs-highlight-color: #292929;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #a9a9a9;
    --bs-border-color-translucent: rgba(0,0,0,0.175);
    --bs-border-radius: .375rem;
    --bs-border-radius-sm: .25rem;
    --bs-border-radius-lg: .5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(0,0,0,0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(0,0,0,0.075);
    --bs-focus-ring-width: .25rem;
    --bs-focus-ring-opacity: .25;
    --bs-focus-ring-color: rgba(84,182,137,0.25);
    --bs-form-valid-color: #198754;
    --bs-form-valid-border-color: #198754;
    --bs-form-invalid-color: #dc3545;
    --bs-form-invalid-border-color: #dc3545
}


*,*::before,*::after {
    box-sizing: border-box
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25
}

h6,.h6,h5,.h5,h4,.h4,h3,.h3,h2,.h2,h1,.h1 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color)
}

h2,.h2 {
    font-size: calc(1.325rem + .9vw)
}

h3,.h3 {
    font-size: calc(1.3rem + .6vw)
}

h4,.h4 {
    font-size: calc(1.275rem + .3vw)
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}



ol,ul {
    padding-left: 2rem
}

ol,ul,dl {
    margin-top: 0;
    margin-bottom: 1rem
}

a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline
}


img,svg {
    vertical-align: middle
}


.list-unstyled {
    padding-left: 0;
    list-style: none
}

.list-inline {
    padding-left: 0;
    list-style: none
}

.list-inline-item {
    display: inline-block
}

.container,.container-fluid,.container-xxl,.container-xl,.container-lg,.container-md,.container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-sm,.container {
        max-width:540px;
    }
}

@media (min-width: 768px) {
    .container-md,.container-sm,.container {
        max-width:720px;
    }
}


:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x))
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y)
}

.col {
    flex: 1 0 0%
}

.col-12 {
    flex: 0 0 auto;
    width: 100%
}

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%
    }
